<div class="card">
  <div class="card-header">
    Account
    <a class="btn btn-sm btn-outline-success" href="/admin/user/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add
    </a>
  </div>
  <div class="card-body">
    <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          {{#each userList}}
            <tr>
              <td scope="row">{{id}}</td>
              <td>{{username}}</td>
              <td>{{name}}</td>
              <td>{{email}}</td>
              <td>{{role}}</td>
              <td>
                <a class="btn btn-sm btn-outline-primary" href="/admin/user/{{id}}" role="button">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Edit
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>