<div>
  <div class="card">
    <div class="card-header">
      {{course.name}}
    </div>
    <div class="card-body">
      <h4 class="card-title">{{course.briefContent}}</h4>
      <p class="card-text">{{course.detailedContent}}</p>
      <p class="card-text">{{course.updatedAt}}</p>
    </div>
    <div class="card-footer text-muted">
      {{course.price}}
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Category
    </div>
    <div class="card-body">
      <h4 class="card-title">{{category.name}}</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Lecturer
    </div>
    <div class="card-body">
      <h4 class="card-title">{{lecturer.name}}</h4>
    </div>
  </div>
</div>